{% extends 'base.html' %}

{% block header %}
<div class="text-center">
  <h1 class="mb-5 pt-5">About</h1>
</div>
{% endblock %}

{% block content %}
<div style="padding-left: 10%; padding-right: 10%;">
  <div class="shadow-lg container border border-3 m-4 rounded-3" style="background-color: rgb(255, 246, 234);">
    <div class="text-dark">
      <h3 class="text-center" style="margin-top: 20px;">Инструкция по пользованию</h3>
      <p>Предлагаемый вашему вниманию бесплатный <a href="/">калькулятор</a> располагает богатым арсеналом возможностей для математических вычислений. 
          Он позволяет использовать онлайн калькулятор в различных сферах деятельности: образовательной, профессиональной и коммерческой. 
          Конечно, применение калькулятора онлайн особенно популярно у студентов и школьников, он значительно облегчает им выполнение самых 
          разных расчётов.</p>
      
      <p>Вместе с тем калькулятор может стать полезным инструментом в некоторых направлениях бизнеса и для людей разных профессий. 
          Безусловно, необходимость применения калькулятора в бизнесе или трудовой деятельности определяется прежде всего видом самой деятельности. 
          Если бизнес и профессия связаны с постоянными расчётами и вычислениями, то стоит опробовать электронный калькулятор и оценить степень 
          его полезности для конкретного дела.</p>
      <h3 class="text-center mt-2">Интерфейс</h3>
      <img src="static/index.png" alt="" width="80%" height="80%" class="shadow-lg mx-auto d-block m-4">
      <p class="pt-3"> Поле ввода выражения предназначено для записи выражения, которое нужно вычислить. Здесь следует отметить, что математические символы,
          используемые в компьютерных программах, не всегда совпадают с теми, которые обычно мы применяем на бумаге. В обзоре каждой функции 
          калькулятора вы найдёте правильное обозначение конкретной операции и примеры расчётов в калькуляторе. На этой странице ниже приводится 
          перечень всех возможных операций в калькуляторе, также с указанием их правильного написания.</p>
      <p>
      <p>
        Для сохранения результатов вычислений в истории необходимо зарегестрироватся и войти в программу под своим ником. После авторизации поле "History"
        станет активным. Для очистки истории нажмите кнопку "Clear all".
      </p>
          Необходимо всегда закрывать скобки в конце выражения. При нахождении незакрытых скобок будет выведено предупреждающее сообщение. 
          Для отделения дробной части числа используйте символ ".". Для отделения аргументов функций используйте символ ",".
      </p>
      <img src="static/index_1.png" alt="" width="80%" height="80%" class="shadow-lg mx-auto d-block m-4">
      <p class="pt-3">
        Также предусмотрна возможность подключения дополнительных модулей языка Python 3. 
        Для подключения стандартного модуля python необходимо ввести его название. Например: time.
        Для подключения собственного модуля введите полный путь к файлу.
      </p>
      <p>
        Пример: при импортивании модуля "time" этот модуль будет доступен для вычисления выражения "time()/3600/24/365". Модключаемые модули вводятся
        в окне модулей через запятую.
      </p>
      <h3 class="text-center mt-2">Доступные для использования функции.</h3>
      <table class="table table-success table-stripedtable mt-3">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 20%;">Функция</th>
            <th scope="col">Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>+</td>
            <td>Сложение</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>-</td>
            <td>Вычитание</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>/</td>
            <td>Деление</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>*</td>
            <td>Умножение</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>//</td>
            <td>Целочисленное деление</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>%</td>
            <td>Остаток от деления</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>^</td>
            <td>Возведение в степень</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>&lt</td>
            <td>Меньше</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>&gt</td>
            <td>Больше</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>&lt=</td>
            <td>Меньше либо равно</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>&gt=</td>
            <td>Больше либо равно</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>==</td>
            <td>Равно</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>!=</td>
            <td>Неравно</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>abs()</td>
            <td>Получить модуль числа</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>round(3)</td>
            <td>Округлить число до целой части</td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>round(3, 3)</td>
            <td>Округлить число до третьего числа после запятой</td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>e</td>
            <td>2.718281828459045</td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>pi</td>
            <td>3.141592653589793</td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td>tau</td>
            <td>6.283185307179586</td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>inf</td>
            <td>Бесконечность</td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td>nan</td>
            <td>Бесконечное приближение к нулю</td>
          </tr>
        </tbody>
      </table>
      <p>
        А также все математические функции предоставляемые стандартным модулем python "Math".
      </p>
      <p>
        Программа также имеет возможность установки с консольным интерфейсом. Все подробности в "pycalc -h"
      </p>
    </div>
  </div>
</div>
{% endblock %}
