{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-5 text-center">Calculator</h1>
{% endblock %}

{% block content %}
<div class="text-center">
    <form method="post" enctype="multipart/form-data" class="my_class border border-3 mx-5 p-3 rounded-3">
      <div class="form-floating mb-3 pb-3">
        <input class="form-control" id="expression" name="expression" autofocus>
        <label  for="expression">Enter an expression</label>
        <input class=" my-3 btn btn-primary" type="submit" value="Calculate">
      </div>
    {% endblock %}

    {% block footer %}
      <button class=" my-3 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Modules available for use
      </button>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <input class="form-control" id="expression" name="modules" autofocus>
          <label  for="expression" class="mt-2">Enter names of modules</label>
        </div>
      </div>
</div>
{% endblock %}
